<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- The below line refreshes the data from model every second
    this is not optimal method but allows confirmation of operations -->
    <meta http-equiv="refresh" content="1">
    
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>